In [3]:
def cleansing_special_characters(txt):
    seps = [' ',';',':','.',',','*','#','@','|','\\','-','_','?','%','!','^','(',')','$','=','+','"','<','>',"'",' AND ', ' and ']
    default_sep = seps[0]
    txt = str(txt)
    for sep in seps[1:]:
        if sep == " AND " or sep == " and ":
            txt = txt.upper()
            txt = txt.replace(sep, ' & ')
        else:
            txt = txt.upper()
            txt = txt.replace(sep, default_sep)
    try :
        list(map(int,txt.split()))
        txt = 'NUMBERS'
    except:
        pass
    txt = re.sub(' +', ' ', txt)
    temp_list = [i.strip() for i in txt.split(default_sep)]
    temp_list = [i for i in temp_list if i]
    return " ".join(temp_list)

In [4]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd
import pyodbc
import re, string
from unidecode  import unidecode
from cleanco import cleanco
from sqlalchemy import event

In [5]:
engine = create_engine('mssql+pyodbc://seair:se@ir1234@192.168.1.47/tempEXIM?driver=SQL+Server+Native+Client+11.0')
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0}; Server=192.168.1.47; uid=seair; pwd=se@ir1234; Database = tempEXIM; Trusted_Connection = No')

In [6]:
df = pd.read_sql('select * from tempEXIM..Supp_All_Clean',conn)

In [5]:
# df['Supp_Name'] = df['Supp_Name'].apply(cleansing_special_characters)

In [7]:
df.head(10)

   ImportSpcID                            Supp_Name SOUNDEX_CODE
0            1  YIWU GENG WEI COMMODITY PURCHASE CO         Y000
1            2  YIWU GENG WEI COMMODITY PURCHASE CO         Y000
2            3  YIWU GENG WEI COMMODITY PURCHASE CO         Y000
3            4  YIWU GENG WEI COMMODITY PURCHASE CO         Y000
4            5           SEW EURODRIVE GMBH & CO KG         S000
5            6           SEW EURODRIVE GMBH & CO KG         S000
6            7           SEW EURODRIVE GMBH & CO KG         S000
7            8           SEW EURODRIVE GMBH & CO KG         S000
8            9           SEW EURODRIVE GMBH & CO KG         S000
9           10           SEW EURODRIVE GMBH & CO KG         S000

In [7]:
# conn1 = engine.connect()

In [8]:
# metadata = MetaData(conn1)

In [12]:
# df.to_sql('Supp_All_Clean', engine, index=False, if_exists="append", schema="dbo", chunksize = 1000, method='multi')

In [8]:
len(df['Supp_Name'].unique())

343333

In [60]:
# df_merge =pd.merge(df1,df, how='left', on= ['Company_Name','SOUNDEX_CODE'])

In [22]:
df_unique = df[['Supp_Name','SOUNDEX_CODE']].copy()

In [24]:
df_unique.drop_duplicates(subset='Supp_Name', inplace=True)

In [26]:
df_unique.reset_index(level=0, inplace=True)

In [36]:
df_unique['M/S'] = df_unique['Supp_Name'].str.contains('M/S')
df_unique.to_excel('Unique_Supp_Name-2020.xlsx', index=True)

,index,Supp_Name,SOUNDEX_CODE,M/S
0,0,YIWU GENG WEI COMMODITY PURCHASE CO,Y000,False
1,4,SEW EURODRIVE GMBH & CO KG,S000,False
2,49,PAM TRADING CORP,P500,False
3,54,MORGAN AM&T SHANGHAI CO LTD,M625,False
4,55,GROZ BECKERT KG,G620,False
...,...,...,...,...
343328,22451283,KENJET TECHNOLGOY CO LTD,K523,False
343329,22451842,UNISYS CO LTD,U522,False
343330,22452043,PHARMACARE PREMIUM LTD,P652,False
343331,22452045,BPREX HEALTHCAREBROOKVILLE INC,B620,False
343332,22452047,WEST PHARMACEUTICAL SERVICES SINGAPORE PTE/LTD,W230,False