In [1]:
import re, string
import pandas as pd
from unidecode  import unidecode
import pyodbc
from collections import defaultdict

In [2]:
def cleansing_special_characters(txt):
    seps = [' ',';',':','.','`','~',',','*','#','@','|','\\','-','_','?','%','!','^','(',')','[',']','{','}','$','=','+','"','<','>',"'",' AND ', ' and ']
    default_sep = seps[0]
    txt = str(txt)
    for sep in seps[1:]:
        if sep == " AND " or sep == " and ":
            txt = txt.upper()
            txt = txt.replace(sep, ' & ')
        else:
            txt = txt.upper()
            txt = txt.replace(sep, default_sep)
    try :
        list(map(int,txt.split()))
        txt = 'NUMBERS'
    except:
        pass
    txt = re.sub(' +', ' ', txt)
    temp_list = [i.strip() for i in txt.split(default_sep)]
    temp_list = [i for i in temp_list if i]
    return " ".join(temp_list)


###########################################################

punctuation = re.compile('[%s]' % re.escape(string.punctuation))

class fingerprinter(object):
    
    # __init__function
    
    def __init__(self, string):
        self.string = self._preprocess(string)
        
    
    # strip leading, trailing spaces and to lower case
    def _preprocess(self, string):
        return punctuation.sub('',string.strip().lower())
    
        
    def _latinize(self, string):
        return unidecode(string)
#         return unidecode(string.decode('utf-8'))
    
    def _unique_preserve_order(self,seq):
        seen = set()
        seen_add = seen.add
        return [x for x in seq if not (x in seen or seen_add(x))]

    
    #-####################################################
    def get_fingerprint(self):
        return self._latinize(' '.join(self._unique_preserve_order(sorted(self.string.split()))))
    
    ######################################################
    def get_ngram_fingerprint(self, n=1):
        return self._latinize(''.join(self._unique_preserve_order(sorted([self.string[i:i + n] for i in range(len(self.string) - n +1)]))))

In [3]:
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0}; Server=**********; uid=seair; pwd=*********; Database = tempEXIM; Trusted_Connection = No')

In [6]:
filename = 'India_Exp_2019_2020.xlsx'
df = pd.read_sql("""select distinct ForeignCompany as SUPPLIER_NAME from Special2019..Exporttable where LEN(ForeignCompany)>10 union 
select distinct ForeignCompany as SUPPLIER_NAME from Special2020..Exporttable where LEN(ForeignCompany)>10 """,conn)
# df = pd.read_excel(filename)

#preprocess the column
df['Clean'] = df['SUPPLIER_NAME'].apply(cleansing_special_characters)

# step 1 cleanining
###########################################################################################

# ##for n_gram fingerprint algorithm
###########################################################################################

# df['n_gram_fingerprint_n2'] = df['Clean'].apply(lambda x : fingerprinter(x.replace(' ','')).get_ngram_fingerprint(n=2))
df['n_gram_fingerprint_n2'] = df['Clean'].apply(lambda x : fingerprinter(x.replace(" ","")).get_ngram_fingerprint(n=2))


## generate tag_id for every unique generated n_gram_fingerprint
d = defaultdict(lambda: len(d))
df['tag_idn']=[d[x] for x in df['n_gram_fingerprint_n2']]

###########################################################################################

#drop n_gram column
df.drop(columns=['n_gram_fingerprint_n2'], inplace=True)

# make copy to create group of tag_id
df1 = df[['SUPPLIER_NAME','tag_idn']]

# # drop clean column , to merge with clean grouped tag_id's
# df1.drop(columns=['Clean'], inplace=True)

# drop SUPPLIER_NAME column , we have tag_id's now
df.drop(columns=['SUPPLIER_NAME'], inplace=True)
# group df with tag_id with selecting minimum 
#group = df.groupby('tag_id').min().reset_index()
group = df.loc[df["Clean"].str.len().groupby(df["tag_idn"]).idxmax()]

# join both the data frames group(unique) and main data
df_merge = pd.merge(df1,group, on=['tag_idn'])

# sterp 2 cleaning
##########################################################################################
##for fingerprint algorithm
###########################################################################################
df_merge['fingerprint'] = df_merge['Clean'].apply(lambda x : fingerprinter(x).get_fingerprint())

## generate tag_id for every unique generated n_gram_fingerprint
d = defaultdict(lambda: len(d))
df_merge['tag_idf']=[d[x] for x in df_merge['fingerprint']]
                                      
# drop fingerprint column
df_merge.drop(columns=['fingerprint'], inplace=True)
                                                  
df2 = df_merge[['tag_idf','Clean']]
group1 = df2.loc[df2["Clean"].str.len().groupby(df2["tag_idf"]).idxmax()]
df_merge1 = pd.merge(df_merge,group1, on=['tag_idf'])
df_merge1.index.name = 'Serial No.'
##############################################################################################


# rearrange columns
# # output excel file
df_merge1.to_excel(filename.strip('.xlsx')+'_Cleaned' +".xlsx")
print('File {} Generated'.format(filename+'_Cleaned'))

File India_Exp_2019_2020.xlsx_Cleaned Generated

In [ ]:
# df_merge['fingerprint'] = df_merge['Clean'].apply(lambda x : fingerprinter(x).get_fingerprint())

# ## generate tag_id for every unique generated n_gram_fingerprint
# d = defaultdict(lambda: len(d))
# df_merge['tag_idf']=[d[x] for x in df_merge['fingerprint']]
                                      
# # drop fingerprint column
# df_merge.drop(columns=['fingerprint'], inplace=True)
                                                  
# df2 = df_merge[['tag_idf','Clean']]
# group1 = df2.loc[df2["Clean"].str.len().groupby(df2["tag_idf"]).idxmax()]
# df_merge1 = pd.merge(df_merge,group1, on=['tag_idf'])

In [5]:
df_merge1

,SUPPLIER_NAME,tag_idn,Clean_x,tag_idf,Clean_y
Serial No.,,,,,
0,ROSE DEBOUVERIE,0,ROSE DEBOUVERIE,0,ROSE DEBOUVERIE
1,GEORGOS KARIM STONES AND METALS BY,1,GEORGOS KARIM STONES & METALS BY,1,GEORGOS KARIM STONES & METALS BY
2,KOMBOLCHA TEXTILE SHARE COMPAN,2,KOMBOLCHA TEXTILE SHARE COMPAN,2,KOMBOLCHA TEXTILE SHARE COMPAN
3,MOHD OMAR AL JABRI GENERAL TRA,3,MOHD OMAR AL JABRI GENERAL TRA,3,MOHD OMAR AL JABRI GENERAL TRA
4,AKHILESH MISHARA,4,AKHILESH MISHARA,4,AKHILESH MISHARA
...,...,...,...,...,...
1069113,SCHENKER OY (KONE WAREHOUSE),999282,SCHENKER OY KONE WAREHOUSE,990905,SCHENKER OY KONE WAREHOUSE
1069114,APTIV SHANGHAI E EDS 0E 491 PLANT 1,999283,APTIV SHANGHAI E EDS 0E 491 PLANT 1,990906,APTIV SHANGHAI E EDS 0E 491 PLANT 1
1069115,BISHNU MAYA GURUNG,999284,BISHNU MAYA GURUNG,990907,BISHNU MAYA GURUNG
1069116,SIAM COMMERICIAL BANK PUBLIC,999285,SIAM COMMERICIAL BANK PUBLIC,990908,SIAM COMMERICIAL BANK PUBLIC
1069117,MILLENNIUM TAILORING EMBD TE,999286,MILLENNIUM TAILORING EMBD TE,990909,MILLENNIUM TAILORING EMBD TE