In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("Phillipines_Imp2020.xlsx")

In [3]:
df

,IMPORTER_ID,IMPORTER_NAME,IMPORTER_ADDRESS
0,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETERANS VILLAG...
1,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETE RANS VILLA...
2,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETE RANS VILLA...
3,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETE RANS VILLA...
4,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETERANS VILLAG...
...,...,...,...
50986,950196012000,DHAKA ENTERPRISES,"42 PACENCIA ST., DON PEDRO VILLAGE BRGY., MARU..."
50987,950196012000,DHAKA ENTERPRISE,"42 PACENCIA ST., DON PEDRO VILLAGE BRGY., MARU..."
50988,951002586000,KHAN TRADING AND GENERAL MERCHANDIS,"CHINESE PIER, BONGAO, TAWI-TAWI TAWI-TAWI 7500"
50989,951002586000,KHAN TRADING AND GENERAL MERCHANDI,"CHINESE PIER, BONGAO, TAWI-TAWI TAWI-TAWI 7500..."
50990,951002586000,KHAN TRADING AND GENERAL MERCHANDIS,"CHINESE PIER, BONGAO, TAWI-TAWITAWI-TAWI 7500P..."

In [5]:
group_name = df.loc[df["IMPORTER_NAME"].str.len().groupby(df["IMPORTER_ID"]).idxmax()]

In [16]:
group_name

,IMPORTER_ID,IMPORTER_NAME,IMPORTER_ADDRESS
0,50043000,ELECTROWORLD INC,WALTERMART BUILDING 8001A EDSA VETERANS VILLAG...
5,50094000,ABBOTT LABORATORIES,VENICE CORPORATE CENTER NUMBER 8 TURIN ST MCKI...
10,50115000,ACG BUILDERS CENTRE INC,287 ABC EDSA HIGHWAY HILLSMANDALUYONG CITY 155...
14,50199000,ACCORD INTERNATIONAL INC,"605 CORDILLERA ST., BRGY. MALAMIG, MANDALUYONG..."
19,50211000,ADVANCED FOUNDATION CONSTRUCTION,SYSTEMS CORPORATION 12B PETRON MEGA PLAZA BLDG...
...,...,...,...
50978,949402225000,S.T ALVARO STORE,"SAN JUAN AVE, MARKET SITE, SIPOCOTCAMARINES SU..."
50979,949556737000,VAB ENTERPRISES,1090 MANUEL COMPOUND GUIWAN HIGHWAY ZAMBOANGA ...
50983,949626461000,MARMHEGIAN ENTERPRISES,LOT 3 BLK 17 PUROK ANAHAW BUHANGINDAVAO CITY 8...
50985,950196012000,DHAKA ENTERPRISES,"42 PACENCIA ST., DON PEDRO VILLAGE BRGY., MARU..."
50988,951002586000,KHAN TRADING AND GENERAL MERCHANDIS,"CHINESE PIER, BONGAO, TAWI-TAWI TAWI-TAWI 7500"

In [8]:
df_merge = pd.merge(df,group_name, on=['IMPORTER_ID'])

In [10]:
df_merge.drop(columns=['IMPORTER_ADDRESS_y'], inplace=True)

In [17]:
group_address = df_merge.loc[df_merge["IMPORTER_ADDRESS_x"].str.len().groupby(df_merge["IMPORTER_ID"]).idxmax()]

In [21]:
df_merge1 = pd.merge(df_merge,group_address, on=['IMPORTER_ID'])

In [22]:
df_merge1.to_excel("Phillipines_Imp2020_Cleaned.xlsx")