In [1]:
import pandas as pd

In [5]:
df_city = pd.read_excel("C:\\Users\\Manish\\Desktop\\PIN\\Pincode_30052019.xlsx")
# C:\Users\Manish\Desktop\PIN

In [6]:
df_tbm = pd.read_excel("C:\\Users\\Manish\\Desktop\\PIN\\Add_City_pin_tbffffffffffff.xlsx")

In [19]:
df_city[['0','1','2','3','4','5']] = df_city.Locality.str.split(" ", n = 5, expand = True)

In [21]:
# df_city.to_excel('C:\\Users\\Manish\\Desktop\\PIN\\test.xlsx')

In [28]:
df_tbm.fillna("NULL", inplace=True)

In [29]:
df_tbm[df_tbm['ADDRESS'].str.contains('WADIKISHANPURA')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [32]:
df_tbm[df_tbm.notna()]

,SN,ADDRESS,CITY,PIN
0,1,"8/C, KHODAGANJ ROAD, KOLKATA MUNICIPAL CORPORA...","BELIAGHATA, WEST BENGAL",700010
1,2,"5/1, CLIVE ROW, 1ST FLOOR ROOM, NO. 24","KOLKATA, WEST BENGAL",700001
2,3,"ANANDA MARKET, CHAKDA ROAD, BONGAON, (N)24PGS",WEST BENGAL,743235
3,4,"37, KAILASH DAS ROAD, POST.GARIFA, 24PGS. (N)",WEST BENGAL,743166
4,5,"9, POLLOCK STREET, 1ST FLOOR",CALCUTTA (W.B.),700001
...,...,...,...,...
19494,19504,"5-9-109, SIKH WADIKISHANPURA, HANAMKONDA",WARANGAL,NULL
19495,19505,"1/27 MURUGESAPURAM PARAMANKURICHI, TIRUCHENDUR...","THOOTHUKUDI, TAMIL NADU",NULL
19496,19506,"WZ-619 FIRST FLOOR SHIV NAGAR, NEW DELHI",DELHI,NULL
19497,19507,"22099 BONDA MARKET, KOLATHUR",METTUR,NULL
19498,19508,"417, FLOOR-4, PLOT-CS 1487 PRASAD CHAMBER, TAT...",Mumbai,NULL